*{
    padding: 0;
    margin: 0;
}
header{
    display: inline;
    margin-right: 200px;

}

ul{
    list-style-type: none;
    background-color: #09b5ec;
    padding: 25px;
    margin-right: 20px;
    width: 100%;
    border-bottom: 2px solid grey ;
}
li{
    display: inline;
    margin-right: 50px;  
}
.img-container{
    background-image: url("../images/Kopje-courtesy.jpg");
    height: 70vh;
    background-size: cover;
    filter: blur(1px);
    background-repeat:no-repeat;
    width: 100%;
}
h1{
    color: rgb(204, 239, 241); 
    font-weight: 400;
}

 


   
