header{
    background-color: #7ED6F2;
}
footer{
    background-color: #7ED6F2;
}
li{
    display: inline-block;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a{
    text-decoration: none;
}