*{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* Nav bar */
header{
    display: inline;
    margin-right: 200px;
}

ul{
    list-style-type: none;
    background-color: #09b5ec;
    padding: 25px;
    margin-right: 20px;
    width: 100%;
    border-bottom: 3px solid grey ;
}
li{
    display: inline;
    margin-right: 50px;  
}
nav , ul , li , a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
/* ends here */
.img-container{
    background-color: rgba(0, 0, 0, 0.644);
    background-image: url("../images/Kopje-courtesy.jpg");
    height: 70vh;
    background-size: cover;
    background-blend-mode:darken;
    width: 100%;
}
h1{
    color: rgb(204, 239, 241); 
    font-weight: 400;
}
.brk{
    background-color: #d9d9d9;
    padding: 20px;
    border-top: 3px solid grey;
}
.first-pkg{
    display: flex;
    justify-content: space-around;
    font-size: smaller;
    font-style: italic;   
}
h2{
    text-align: center;
}
h3{
    text-indent: 150px;
}
#img{
    padding-left: 3px;
    border: 15px rgba(223, 229, 230);
    padding-bottom: 15px;
    box-shadow: 5px 10px 20px rgb(122, 117, 118);
}
strong{
    display: block;
}
/*footer*/
table,
tr,
td{
    padding-right: 100px;
    padding-left: 100px;
}
   
