 /* THE HEADER FILE STARTS HERE */
header{
    background-color: #7ED6F2;
}
/* footer*/
footer{
    background-color: #7ED6F2;
}
/*footer*/
li{
    display: inline-block;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a{
    text-decoration: none;
}
/* ENDS HERE */

.div1{
    height: 12vw;
    width: 100%;
}
*{
    font-size: 0.9vw;
}
#div1{
    float: left;
    margin-right: 3vw;
}
#div2{
clear: right;
}
.div4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5vw;
}
.images{
    height: 25vw;
    width: 80%;
}
.grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: white;
    padding: 5vw;
    margin-left: 10%;
    margin-right: 10%;

}
.div3{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 4vw;
}
.form{
    width: 25%;
    height: fit-content;
}
.grid1{
    padding: 2vw;
}
/*footer*/
.footer{
    display: flex;
    justify-content: space-around;
    padding-top: 2vw;
}
/*footer*/
.div2{
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 1vw;
    margin-bottom: 8vw;
}
h2{
    font-size: 1.2vw;
}
.hidden{
    display: none;
}
#btn{
    height: 2vw;
    width: 6vw;
    background-color: #7ED6F2;
    border-radius: 5%;
    margin-left: 10%;
}
/*footer*/
.li{
    display: block;
}
/*footer*/
